body {
    background: url(background.jpg) center;
    background-attachment: fixed;
    background-size: cover;
    background-color: #222;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#profile-container {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#profile-pic {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.hidden {
    display: none;
    transition: max-height 0.3s ease-in-out;
}

.show {
    display: block;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #008CBA;
    color: white;
    cursor: pointer;
}